<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71675422570-5p6tn2ts5fs4e28uq4u79d0galqv6ta8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71675422570-5p6tn2ts5fs4e28uq4u79d0galqv6ta8</string>
	<key>API_KEY</key>
	<string>AIzaSyD6YqS-XSVaaGi7wbCYLpiw_-m9T5llpW8</string>
	<key>GCM_SENDER_ID</key>
	<string>71675422570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>headit74.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-8b070</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-8b070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71675422570:ios:9ef3ee75cc924b0085a713</string>
</dict>
</plist>